#blogLine{
    width: 434px;
    border: 2px solid #cdcdcd;
    margin-right: 0;
    margin-left: 0px;
    margin-top: 0;
}
#blogline1{
    width: 161px;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    border: 2px solid #4d4d4d;
}
#blog2{
    width: 338px;
    border: 2px solid #cdcdcd;
    margin-right: 0;
    margin-left: 0px;
    margin-top: 0;
}