@import "~react-image-gallery/styles/css/image-gallery.css";

.image-gallery-thumbnails-wrapper {
    width: 15.625vw !important;
}

.image-gallery
    .image-gallery-content
    .image-gallery-slide-wrapper
    .image-gallery-swipe
    .image-gallery-slides
    .left {
    width: 0 !important;
    height: 0 !important;
}

.image-gallery
    .image-gallery-content
    .image-gallery-slide-wrapper
    .image-gallery-swipe
    .image-gallery-slides
    .right {
    width: 0 !important;
    height: 0 !important;
}
