.loginOuterBox {
    width: 61.420vw;
    height: 42.753vw;
    margin-left: 21.889vw;
    margin-top: 2.343vw;
    border: 1px solid #dddddd;
    display: flex;
}
.firstSignBox {
    width: 20.425vw;
    height: 30.893vw;
    margin-left: 5.490vw;
    margin-top: 2.709vw;
    display: grid;
    grid-template-rows: auto;
}
.betweenOR {
    width: 1.098vw;
    height: 1.537vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #3d3d3d;
    margin-left: 4.246vw;
    margin-top: 2.709vw;
}
.firstLoginBox {
    width: 20.425vw;
    height: 19.473vw;
    margin-left: 7.906vw;
    margin-top: 2.709vw;
    display: flex;
    flex-direction: column;
}
.neworalready {
    width: 15.447vw;
    height: 1.537vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #3d3d3d;
}
.filldetailHead {
    width: 13.616vw;
    height: 1.245vw;
    margin-top: 1.537vw;
    font: normal normal normal 0.878vw/1.318vw Poppins;
    color: #ac06d4;
}
.fillouterBoxborder {
    /* width: 279px; */
    height: 2.782vw;
    margin-top: 0.878vw;
    border: 1px solid #08e5a9;
    margin-bottom: 0.878vw;
    padding-left: 0.732vw;
    width: 18.375vw;
    font: normal normal normal 0.878vw/1.318vw Poppins;
}
.fillouterBoxborder input {
    margin-top: 0.878vw;
    margin-bottom: 0.878vw;
    width: 18.375vw;
    font: normal normal normal 0.878vw/1.318vw Poppins;
    border: none;
}
.fillouterBoxborder input::placeholder {
    color: #8d8d8d;
}
.fillouterBoxborder input:focus {
    color: black;
    outline: none;
}
.fillouterBoxborder input,
select {
    color: black;
    font-weight: 500;
}
.orHeading {
    margin-left: 9.663vw;
    /* margin-top: 12px; */
    /* width: 15px;
    height: 21px; */
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #3d3d3d;
}
.containerCheck {
    display: block;
    position: relative;

    margin-top: 0.878vw;
    cursor: pointer;
    font: normal normal normal 0.878vw/1.318vw Poppins;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 1.977vw;
    margin-left: 0.732vw;
}
.containerCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkMark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.318vw;
    width: 1.318vw;
    background-color: #eee;
}
.containerCheck:hover input ~ .checkMark {
    background-color: #ccc;
}
.containerCheck input:checked ~ .checkMark {
    background-color: black;
}
.checkMark::after {
    content: "";
    position: absolute;
    display: none;
}
.containerCheck input:checked ~ .checkMark::after {
    display: block;
}
.containerCheck .checkMark::after {
    left: 0.366vw;
    top: 0;
    width: 0.586vw;
    height: 13px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.SignGoogle {
    display: flex;
    width: 11.859vw;
    height: 2.562vw;
    margin-left: 4.319vw;
    margin-top: 1.098vw;
    border: 0.1px solid white;
    background-color: #df4a32;
    cursor: pointer;
}
.googleIcon {
    color: white;
    height: 2.343vw;
    width: 1.830vw;
    margin-left: 0.366vw;
}
.SignGoogle p {
    height: 1.464vw;
    width: 8.785vw;
    margin-top: 0.512vw;
    margin-left: 0.439vw;
    color: white;
    font-family: "Poppins";
    font-size: 0.878vw;
}
.continueButton {
    width: 6.808vw;
    height: 2.782vw;
    margin-top: 2em;
    margin-left: 6.808vw;
    box-shadow: 0px 3px 6px #00000029;
    background-image: linear-gradient(#f5004e, #8e0072);
    border: none;
    cursor: pointer;
    font: normal normal normal 0.878vw/1.318vw Poppins;
    color: white;
}
.continueButton:focus {
    outline: none;
}
.forgetPass {
    text-decoration: underline;
    font: normal normal normal 0.878vw/1.318vw Poppins;
    color: #f80000;
    width: 10.395vw;
    height: 1.318vw;
    margin-top: 0.878vw;
    cursor: pointer;
}
.loginButton {
    box-shadow: 0px 3px 6px #00000029;
    background-image: linear-gradient(#f5004e, #8e0072);
    border: none;
    cursor: pointer;
    font: normal normal normal 0.878vw/1.318vw Poppins;
    color: white;
    width: 4.978vw;
    height: 2.782vw;
    margin-top: 3.587vw;
    margin-left: 9.004vw;
}
.loginButton:focus {
    outline: none;
}
@media (max-width:425px){
    .headlineew {
        margin-top: 4%;
        margin-left: 6%;
        font: normal normal normal 4.124vw/7.88vw Acme;
        height: auto;
        width: auto;
    }
    .loginOuterBox {
        width: 56.42vw;
        height: auto;
        margin-left: 20%;
        margin-top: 4%;
        border: 1px solid #dddddd;
        flex-direction: column;
        display: flex;
    }
    .firstSignBox {
        width: 51.425vw;
        height: auto;
        margin-left: 8%;
        margin-top: 8%;
        display: flex;
        flex-direction: column;
    }
    .neworalready {
        width: auto;
        height: auto;
        font: normal normal normal 2.098vw/1.684vw Poppins;
        color: #3d3d3d;
    }
    .filldetailHead {
        width: auto;
        height: auto;
        margin-top: 0.537vw;
        font: normal normal normal 1.5vw/1.318vw Poppins;
        color: #ac06d4;
    }
    .fillouterBoxborder {
        /* width: 279px; */
        height: 3.782vw;
        margin-top: 0.878vw;
        border: 1px solid #08e5a9;
        margin-bottom: 0.878vw;
        padding-left: 0.732vw;
        width: 45vw;
        font: normal normal normal 1.5vw/1.318vw Poppins;
    }
    .continueButton {
        width: 10.808vw;
        height: 3.782vw;
        margin-top: 3%;
        margin-left: 33%;
        font: normal normal normal 1.5vw/1.318vw Poppins;
    }
    .betweenOR {
        width: auto;
        height: auto;
        font: normal normal normal 2.098vw/0.684vw Poppins;
        color: #3d3d3d;
        margin-left: 46%;
    }
    .firstLoginBox {
        width: 48.425vw;
        height: auto;
        margin-left: 4.906vw;
        margin-top: 2.709vw;
        display: flex;
        flex-direction: column;
    }
    .forgetPass {
        text-decoration: underline;
        font: normal normal normal 1.5vw/1.318vw Poppins;
        color: #f80000;
        width: auto;
        height: auto;
        margin-top: 0.878vw;
        cursor: pointer;
    }
    .loginButton {
        font: normal normal normal 1.5vw/1.318vw Poppins;
        width: 7.978vw;
        height: 3.782vw;
        margin-top: 3.587vw;
        margin-left: 19.004vw;
    }
}
