.outerboxshipping {
  width: 68.375vw;
  height: auto;
  margin-top: 7.321vw;
  margin-left: 21.889vw;
  display: flex;
  flex-direction: column;
}
.HeadingShipping {
  width: 26.867vw;
  height: 4.612vw;
  background-image: linear-gradient(#f5004e, #8e0072);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font: normal normal normal 3.294vw/4.978vw Acme;
}

.returnheading {
  width: 43.192vw;
  height: 2.562vw;
  font: normal normal normal 1.830vw/2.782vw Poppins;
  margin-top: 2.343vw;
  color: #4d4d4d;
}
.content1Shipping {
  width: 68.375vw;
  height: 6.589vw;
  margin-top: 1.171vw;
  font: normal normal normal 1.098vw/1.684vw Poppins;
  color: #4d4d4d;
}
.content2Shipping {
  margin-top: 1.171vw;
  font: normal normal normal 1.098vw/1.684vw Poppins;
  color: #4d4d4d;
}
.content3Shipping {
  margin-top: 1.171vw;
  font: normal normal normal 1.098vw/1.684vw Poppins;
  color: #4d4d4d;
  width: 68.375vw;
  height: 8.272vw;
}
.content4Shipping {
  margin-top: 1.171vw;
  font: normal normal normal 1.098vw/1.684vw Poppins;
  color: #4d4d4d;
  width: 68.375vw;
  height: 13.324vw;
}
.content5Shipping {
  width: 68.375vw;
  height: 11.640vw;
  margin-top: 1.171vw;
  font: normal normal normal 1.098vw/1.684vw Poppins;
  color: #4d4d4d;
}
.content6Shipping {
  margin-top: 1.171vw;
  font: normal normal normal 1.098vw/1.684vw Poppins;
  color: #4d4d4d;
  width: 68.375vw;
  height: 3.221vw;
}
.content7Shipping {
  margin-top: 1.171vw;
  font: normal normal normal 1.098vw/1.684vw Poppins;
  color: #4d4d4d;
  width: 68.375vw;
  height: 1.537vw;
}
@media (max-width: 425px){
  .outerboxshipping {
    width: 68.375vw;
    height: auto;
    margin-top: 5%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
}
.HeadingShipping {
  width: auto;
  margin-left: 6vw;
  margin-bottom: auto;
  height: auto;
  font: normal normal normal 4vw/10vw Acme;
}
.returnheading {
  width: 89vw;
  height: auto;
  font: normal normal normal 2.83vw/2.782vw Poppins;
  margin-left: 6vw;
  margin-top: 2%;
}
.content1Shipping {
  width: 82.375vw;
  height: auto;
  margin-top: 1.171vw;
  margin-left: 6vw;
  text-align: justify;
  font: normal normal normal 1.7vw/2.684vw Poppins;
}
.content2Shipping{
  width: 82.375vw;
  height: auto;
  margin-top: 1.171vw;
  margin-left: 6vw;
  text-align: justify;
  font: normal normal normal 1.7vw/2.684vw Poppins;
}
.content3Shipping{
  width: 82.375vw;
  height: auto;
  margin-top: 1.171vw;
  margin-left: 6vw;
  text-align: justify;
  font: normal normal normal 1.7vw/2.684vw Poppins;
}
.content4Shipping{
  width: 82.375vw;
  height: auto;
  margin-top: 1.171vw;
  margin-left: 6vw;
  text-align: justify;
  font: normal normal normal 1.7vw/2.684vw Poppins;
}
.content5Shipping{
  width: 82.375vw;
  height: auto;
  margin-top: 1.171vw;
  margin-left: 6vw;
  text-align: justify;
  font: normal normal normal 1.7vw/2.684vw Poppins;
}
.content6Shipping{
  width: 82.375vw;
  height: auto;
  margin-top: 1.171vw;
  margin-left: 6vw;
  text-align: justify;
  font: normal normal normal 1.7vw/2.684vw Poppins;
}
.content7Shipping{
  width: 82.375vw;
  height: auto;
  margin-top: 1.171vw;
  margin-left: 6vw;
  text-align: justify;
  font: normal normal normal 1.7vw/2.684vw Poppins;
}
}