.outerboxTerms {
  width: 68.375vw;
  height: auto;
  margin-top: 7.485vw;
  margin-left: 22.380vw;
  display: flex;
  flex-direction: column;
}
.TermsHeading {
  width: 28.743vw;
  height: 4.716vw;
  background-image: linear-gradient(#f5004e, #8e0072);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font: normal normal normal 3.368vw/5.090vw Acme;
}
.termsHeadingone{
    font: normal normal normal 1.830vw/2.782vw Poppins;
  margin-top: 2.395vw;
  color: #4d4d4d;width: 39.820vw;
  height: 35px;
}
.termcontent1{
    margin-top: 1.171vw;
  font: normal normal normal 1.098vw/1.684vw Poppins;
  color: #4d4d4d;width: 68.375vw;
  height: 11.901vw;
}
.termcontent2{
    margin-top: 1.171vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #4d4d4d;width: 68.375vw;
    height: 3.293vw;
}
.termcontent3{
    margin-top: 1.171vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #4d4d4d;width: 68.375vw;
    height: 30.838vw;
}
.termcontent4{
    margin-top: 1.171vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #4d4d4d;width: 68.375vw;
    height: 23.952vw;
}
.termcontent5{
    margin-top: 1.171vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #4d4d4d;width: 68.375vw;
    height: 10.180vw;
}
.termcontent6{
    margin-top: 1.171vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #4d4d4d;width: 68.375vw;
    height: 72.156vw;
}
.termcontent7{
    margin-top: 1.171vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: #4d4d4d;width: 68.375vw;
    height: 22.231vw;
}
@media (max-width:425px){
  .outerboxTerms {
    width: auto;
    height: auto;
    margin-top: 3%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
}
.TermsHeading {
  width: auto;
  height: auto;
  margin-left: 6vw;
  margin-bottom: auto;
  font: normal normal normal 4vw/10vw Acme;
}
.termcontent1 {
  width: 82.375vw;
  height: auto;
  margin-top: 1.171vw;
  margin-left: 6vw;
  text-align: justify;
  font: normal normal normal 1.7vw/2.684vw Poppins;
}
.termsHeadingone {
  width: 89vw;
  height: auto;
  font: normal normal normal 2.83vw/2.782vw Poppins;
  margin-left: 6vw;
  margin-top: 2%;
}
.termcontent2{
  width: 82.375vw;
  height: auto;
  margin-top: 1.171vw;
  margin-left: 6vw;
  text-align: justify;
  font: normal normal normal 1.7vw/2.684vw Poppins;
}
.termcontent3{
  width: 82.375vw;
  height: auto;
  margin-top: 1.171vw;
  margin-left: 6vw;
  text-align: justify;
  font: normal normal normal 1.7vw/2.684vw Poppins;
}
.termcontent4{
  width: 82.375vw;
  height: auto;
  margin-top: 1.171vw;
  margin-left: 6vw;
  text-align: justify;
  font: normal normal normal 1.7vw/2.684vw Poppins;
}
.termcontent5{
  width: 82.375vw;
  height: auto;
  margin-top: 1.171vw;
  margin-left: 6vw;
  text-align: justify;
  font: normal normal normal 1.7vw/2.684vw Poppins;
}
.termcontent6{
  width: 82.375vw;
  height: auto;
  margin-top: 1.171vw;
  margin-left: 6vw;
  text-align: justify;
  font: normal normal normal 1.7vw/2.684vw Poppins;
}
.termcontent7{
  width: 82.375vw;
  height: auto;
  margin-top: 1.171vw;
  margin-left: 6vw;
  text-align: justify;
  font: normal normal normal 1.7vw/2.684vw Poppins;
}
}