.footer {
    z-index: 1001;
    display: flex;
    position: absolute;
    margin-top: 2.5vw;
    margin-bottom: 0vw;
    width: 100vw;
    height: 36.553vw;
    background-image: linear-gradient(#8e0072, #f5004e);
    display: grid;
    grid-template-rows: 16.837vw 13.104vw 4.392vw;
}
.firstbox {
    display: flex;
    width: 92.387vw;
    height: 13.177vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.66vw;
}
.f1 {
    z-index: 1001;
    color: white;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    width: 20.132vw;
    height: 5.708vw;
}
.email {
    z-index: 1001;
    outline: none;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    margin-top: 1.562vw;
    margin-left: 0vw;
    width: 15vw;
    height: 1.708vw;
    padding-top: 0.2vw;
    border: 0vw;
    border-bottom: 0.073vw solid #cdcdcd;
    background-image: (#f5004e);
}
.ok {
    z-index: 1001;
    outline: none;
    color: #4d4d4d;
    border: 0vw;
    background-color: white;
    height: 1.7vw;
    margin-top: 2vw;
}
.f2 {
    z-index: 1001;
    margin-left: 17.789vw;
    color: white;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    width: 33.236vw;
}
.f2 a {
    color: white;
    text-decoration: underline;
}
.f3 {
    width: 9.956vw;
    height: 12.665vw;
    z-index: 1001;
    margin-left: 12.886vw;
    display: grid;
    grid-template-rows: 1.537vw 2.782vw 2.782vw 2.782vw 2.782vw;
}

.f3a {
    width: 4.905vw;
    height: 1.537vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: white;
    margin-left: 5.051vw;
    cursor: pointer;
    position: relative;
}

.f3a::before {
    content: "";
    width: 100%;
    height: 0.146vw;
    position: absolute;
    background-color: white;
    bottom: -0.293vw;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.75s ease-out;
}
.f3a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.f3b {
    width: 8.321vw;
    height: 1.537vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: white;
    margin-left: 2.489vw;
    margin-top: 1.245vw;
    cursor: pointer;
    position: relative;
}
.f3b::before {
    content: "";
    width: 100%;
    height: 0.146vw;
    position: absolute;
    background-color: white;
    bottom: -0.293vw;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.75s ease-out;
}
.f3b:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.f3c {
    width: 11.54vw;
    height: 1.537vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: white;
    margin-left: -1vw;
    margin-top: 1.245vw;
    cursor: pointer;
    position: relative;
}
.f3c::before {
    content: "";
    width: 100%;
    height: 0.146vw;
    position: absolute;
    background-color: white;
    bottom: -0.293vw;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.75s ease-out;
}
.f3c:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.f3d {
    width: 12.224vw;
    height: 1.537vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: white;
    margin-left: -2vw;
    margin-top: 1.245vw;
    cursor: pointer;
    position: relative;
}
.f3d::before {
    content: "";
    width: 100%;
    height: 0.146vw;
    position: absolute;
    background-color: white;
    bottom: -0.293vw;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.75s ease-out;
}
.f3d:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.f3e {
    width: 9.736vw;
    height: 1.537vw;
    font: normal normal normal 1.098vw/1.684vw Poppins;
    color: white;
    margin-top: 1.245vw;
    cursor: pointer;
    position: relative;
}
.f3e::before {
    content: "";
    width: 100%;
    height: 0.146vw;
    position: absolute;
    background-color: white;
    bottom: -0.293vw;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.75s ease-out;
}
.f3e:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.secondbox {
    display: flex;
    width: 92.387vw;
    margin-left: auto;
    margin-right: auto;
    height: 10.908vw;
    margin-top: 2.196vw;
}
.paymentmethod {
    width: 16.837vw;
    height: 10.908vw;
    display: grid;
    grid-template-rows: 1.098vw 9.81vw;
}
.paymentmethod p {
    width: 16.837vw;
    height: 1.098vw;
    font: normal normal medium 0.732vw/1.464vw Poppins;
    color: #ffffff;
}
.logo {
    width: 16.837vw;
    height: 8.346vw;
    margin-top: 1.464vw;
}
.logo ul {
    display: flex;
    list-style-type: none;
    margin-left: -5.271vw;
}
.logo ul li {
    width: 2.928vw;
    height: 2.928vw;
    box-shadow: 0 0.22vw 0.439vw #00000029;
    margin-left: 2.196vw;
    cursor: pointer;
    border-radius: 100%;
}
.logo ul li img {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 100%;
}
.followUs {
    height: 5.637vw;
    width: 16.252vw;
    margin-left: 59.297vw;
}
.followUs p {
    width: 15.959vw;
    height: 1.098vw;
    text-align: right;
    font: normal normal medium 0.732vw/1.464vw Poppins;
    color: #ffffff;
}
.social ul {
    display: flex;
    list-style-type: none;
    margin-left: 4.392vw;
    margin-top: 0;
}
.social ul li {
    margin-left: 1.464vw;
    margin-top: 1.464vw;
    padding: 0.586vw;
    font-size: 1.171vw;
    width: 2.709vw;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
}
.instagram {
    color: white;
    background: #d6249f;
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
}
.f4 {
    z-index: 1001;
    color: white;
    margin-top: 1.464vw;
    margin-left: 36.603vw;
    font: normal normal normal 0.878vw/1.318vw Poppins;
    display: flex;
}
#copyright {
    z-index: 1001;
    margin-top: 0.5vw;
}
.Agiledone {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}
.Agiledone:hover {
    color: black;
    font-weight: 500;
}
.f4 img {
    height: 1.5vw;
    max-width: 100%;
    margin-left: 0.5vw;
}

@media (max-width: 425px) {
    .footer {
        z-index: 1001;
        display: flex;
        position: absolute;
        margin-top: 2.5vw;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-image: linear-gradient(#8e0072, #f5004e);
    }
    .firstbox {
        display: flex;
        width: 92.387vw;
        height: auto;
        flex-direction: column;
        margin: auto;
        margin-top: 3.66vw;
    }
    .f1 {
        z-index: 1001;
    color: white;
    font: normal normal normal 1.9vw/0.684vw Poppins;
    width: 40%;
    margin-left: 29vw;
    text-align: center;
    height: auto;
    }
    .email {
        z-index: 1001;
        outline: none;
        font: normal normal normal 1.9vw/0.684vw Poppins;
        margin-top: 1.562vw;
        width: auto;
        height: auto;
        border: 0vw;
    }
    .ok {
        z-index: 1001;
    outline: none;
    color: #4d4d4d;
    border: 0vw;
    background-color: white;
    height: 3.3vw;
    margin-top: 2.1vw;
    }
    .f2 {
        z-index: 1001;
        margin-top: 4vw;
        margin-left: 21vw;
        color: white;
        text-align: center;
        font: normal normal normal 1.7vw/2.684vw Poppins;
        width: 60%;
    }
    .f3 {
        width: 50%;
    height: auto;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 6vw 24vw;
    align-items: center;
    }
    .f3a {
        width: auto;
        height: auto;
        font: normal normal normal 1.7vw/2.684vw Poppins;
        color: white;
        cursor: pointer;
        position: relative;
    }
    .f3b {
        width: auto;
        height: auto;
        font: normal normal normal 1.7vw/2.684vw Poppins;
        color: white;
        margin-left: 5vw;
        cursor: pointer;
        position: relative;
    }
    .f3c {
        width: auto;
        height: auto;
        font: normal normal normal 1.7vw/2.2vw Poppins;
        color: white;
        cursor: pointer;margin-left: 5vw;
        position: relative;
    }
    .f3d {
        width: auto;margin-left: 5vw;
        height: auto;
        font: normal normal normal 1.7vw/2.684vw Poppins;
        color: white;
        cursor: pointer;
        position: relative;
    }
    .paymentmethod {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .secondbox {
        display: flex;
    width: 92.387vw;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    height: auto;
    margin-top: 0;
    }
    .paymentmethod p {
        margin-left: 5vw;
        font-size: 1.7vw;
        font-family: "Poppins";
        width: auto;
        height: auto;
    }
    .logo {
        width: 18vw;
        height: 8vw;
    }
    .logo ul {
        display: flex;
        list-style-type: none;
        margin-left: -6vw;
        justify-content: space-between;
        width: auto;
        margin-top: 0;
    }
    .logo ul li {
        width: 2.928vw;
        height: 2.928vw;
        box-shadow: 0 0.22vw 0.439vw #00000029;
        cursor: pointer;
        border-radius: 100%;
    }
    .followUs {
        height: auto;
        width: 16.252vw;
        align-items: center;
        margin-left:39.297vw;
    }
    .followUs p {
        font-size: 1.7vw;
        font-family: "Poppins";
    }
    .social ul {
        display: flex;
        list-style-type: none;
        margin-left: -6vw;
        width: auto;
        justify-content: space-between;
        height: auto;
    }
    #fafacebook{
        font-size: 2vw;
    }
    #fainsta{
        font-size: 2.5vw;
    }
    .social ul li {
        padding-left: 0.5vw;
        margin-top: 1.464vw;
        text-align: center;
        text-decoration: none;
        height: 4vw;
        width: 4vw;
        border-radius: 50%;
        cursor: pointer;
    }
    .f4 {
        z-index: 1001;
        color: white;
        margin-top: 1.464vw;
        width: auto;
        margin-left: 26.603vw;
        font: normal normal normal 1.3vw/1.318vw Poppins;
        display: flex;
    }
}

